<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <a href="/myFav">my Fav List</a>
    </header>
    <main>
        <div class="jokeCard">
            <p><%= joke.id %></p>
            <h1><%= joke.type %></h1>
            <h3><%= joke.setup %></h3>
            <p><%= joke.punchline %></p>
        </div>
    </main>
</body>
</html>